@model BusQuei.Models.Maintenance

@{
    ViewData["Title"] = "Cadastrar Manutenção";
}

<h4 style="text-align:center;">Cadastrar Manutenção</h4>
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusId" class="control-label"></label>
                <select asp-for="BusId" class="form-control" asp-items="ViewBag.BusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">Selecione o status</option>
                    <option value="InOperation">Em Operação</option>
                    <option value="InMaintenance">Em Manutenção</option>
                    <option value="Inactive">Inativo</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: center;">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
