@model BusQuei.Models.Bus

@{
    ViewData["Title"] = "Cadastrar ônibus";
}

<h4 style="text-align:center;">Cadastrar Ônibus</h4>
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">Selecione o status</option>
                    <option value="InOperation">Em Operação</option>
                    <option value="InMaintenance">Em Manutenção</option>
                    <option value="Inactive">Inativo</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label"></label>
                <select asp-for="RouteId" class="form-control" asp-items="ViewBag.RouteId">
                    <option value="">Selecione uma rota</option>
                </select>
            </div>

            <div class="form-group" style="text-align: center;">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
